name: CI pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
         python-version: "3.10"
      - name: install dependencies
        run: pip install -r requirements.txt

      - name: pylint test
        run: pylint *.py ||true
      
      - name: pytest test
        run: pytest

      - name: docker build
        run: docker build -t canncer-img .

      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_TOKEN}}
      - name: taging image
        run: docker tag canncer-img ${{ secrets.DOCKERHUB_USERNAME }}/canncer-img:latest

      - name: push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/canncer-img:latest